In [23]:
import pandas as pd
df = pd.read_csv("transaction_data.csv")
df.head(10)

,TransactionID,CustID,Date,Employee,ProductID,ProductName,VendorID,ProductVendor,UnitPrice,Quantity,Subtotal,Tax(8%),OrderTotal
0,10258,1,7/17/2023,Nancy Davolio,32,Mascarpone Fabioli,14,Formaggi Fortini s.r.l.,25.6,6,153.6,12.29,165.89
1,10275,2,8/7/2023,Nancy Davolio,24,Guaran Fantstica,10,Refrescos Americanas LTDA,3.6,12,43.2,3.46,46.66
2,10275,2,8/7/2023,Nancy Davolio,59,Raclette Courdavault,28,Gai pturage,44.0,6,264.0,21.12,285.12
3,10292,3,8/28/2023,Nancy Davolio,20,Sir Rodney's Marmalade,8,"Specialty Biscuits, Ltd.",64.8,20,1296.0,103.68,1399.68
4,10293,4,8/29/2023,Nancy Davolio,18,Carnarvon Tigers,7,"Pavlova, Ltd.",50.0,12,600.0,48.00,648.00
5,10293,4,8/29/2023,Nancy Davolio,24,Guaran Fantstica,10,Refrescos Americanas LTDA,3.6,10,36.0,2.88,38.88
6,10293,4,8/29/2023,Nancy Davolio,63,Vegie-spread,7,"Pavlova, Ltd.",35.1,5,175.5,14.04,189.54
7,10293,4,8/29/2023,Nancy Davolio,75,Rhnbru Klosterbier,12,Plutzer Lebensmittelgromrkte AG,6.2,6,37.2,2.98,40.18
8,10304,4,9/12/2023,Nancy Davolio,59,Raclette Courdavault,28,Gai pturage,44.0,10,440.0,35.20,475.20
9,10304,4,9/12/2023,Nancy Davolio,71,Flotemysost,15,Norske Meierier,17.2,2,34.4,2.75,37.15

In [45]:
#trying to see total sales of the employees
df_selected = df[['Employee','OrderTotal']].groupby('Employee')['OrderTotal'].sum()
df_selected

Employee
Andrew Fuller        53549.87
Anne Dodsworth       27232.47
Janet Leverling      61935.82
Laura Callahan       61575.87
Margaret Peacock    102093.97
Michael Suyama       37691.47
Nancy Davolio        75095.44
Robert King          31964.33
Steven Buchanan      23087.99
Name: OrderTotal, dtype: float64

In [59]:
#trying to see what employee sold the most products
df_selected = df[['ProductName','Employee']].groupby('Employee')['ProductName'].count()
df_selected

Employee
Andrew Fuller       145
Anne Dodsworth       62
Janet Leverling     196
Laura Callahan      172
Margaret Peacock    265
Michael Suyama      118
Nancy Davolio       221
Robert King         101
Steven Buchanan      73
Name: ProductName, dtype: int64

In [76]:
#df[['ProductName','Employee','Quantity']].groupby('Employee')['ProductName']('Quantity').max()

TypeError: 'SeriesGroupBy' object is not callable

In [84]:
#checking whats the average quantity sold.
df['Quantity'].mean()

np.float64(12.631929046563194)

In [85]:
import matplotlib.pyplot as plt

In [86]:
plt.style.use('ggplot')

In [87]:
df = pd.read_csv("transaction_data.csv")

IndentationError: unexpected indent (1896189370.py, line 2)